
/* anted */
.ant-layout-content .site-layout-background{
  background-color : #000 !important;
}

th.ant-table-cell{
  color : #fff !important;
  background-color : #1D1D1D !important;
}

td.ant-table-cell {
  color : #fff !important;
  background-color : #141414 !important;
}